@import "tailwindcss";


@custom-variant dark (&:where(.dark, .dark *));

:root {
  --color-primary: #030A1B; 
  --primary-blue: #228EE5;
  --light-color: #EBFAFF;
}

.dark {
  --color-primary: #EBFAFF; 
  --light-color: #030A1B;
}


@layer components {
  .gradient-border::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    top: 0;
    left: 0;
    border: 0.2rem solid transparent;
    background: linear-gradient(to left,
  rgba(34, 142, 229, 1) 0%,
  rgba(34, 142, 229, 0.18) 28%,
  rgba(34, 142, 229, 0.14) 74%,
  rgba(34, 142, 229, 1) 100%) border-box;
    -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
    mask-composite: exclude;
  }
}

